.form {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 80px;
}

.required {
    display: flex;
    align-content: center;
    justify-content: center;
}

.btn {
    display: flex;
    align-content: center;
    justify-content: center;
}